@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans+Mono&display=swap');*/
@import 'tailwindcss';


@theme {
   --font-body: 'Lato', sans-serif;
   --font-size-default-15: 15px;
   --font-size-default-21: 21px;
   --font-size-course-details-heading-smail-26: 26px;
   --font-size-course-details-heading-smail-36: 36px;
   --font-size-course-details-heading-large-36: 36px;
   --font-size-course-details-heading-large-44: 44px;
   --font-size-home-heading-small-28: 28px;
   --font-size-home-heading-small-34: 34px;
   --font-size-home-heading-large-48: 48px;
   --font-size-home-heading-large-56: 56px;

   --color-primary-600: hsl(221, 97%, 54%);

   --color-neutral-000: hsl(210, 0%, 98%);
   --color-neutral-100: hsl(210, 0%, 88%);
   --color-neutral-200: hsl(210, 0%, 78%);
   --color-neutral-300: hsl(210, 0%, 68%);
   --color-neutral-400: hsl(210, 0%, 58%);
   --color-neutral-500: hsl(210, 0%, 48%);
   --color-neutral-600: hsl(210, 0%, 38%);
   --color-neutral-700: hsl(210, 0%, 28%);
   --color-neutral-800: hsl(210, 0%, 18%);
   --color-neutral-900: hsl(210, 0%, 10%);

   --ease-basic-01: cubic-bezier(0.26, 0.1, 0.27, 1.55);
   --ease-basic-02: cubic-bezier(0.17, 0.67, 0.83, 0.67);
   --ease: cubic-bezier(0.19, 0.08, 0.46, 0.99);
   --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
   --ease-in: cubic-bezier(0.33, 0.02, 0.84, 0.75);
   --ease-out: cubic-bezier(0.05, 0.21, 0.66, 0.98);
   --ease-in-out: cubic-bezier(0.38, 0, 0.57, 0.99);
   --ease-linear: cubic-bezier(0.19, 0.08, 0.84, 0.75);
   --ease-smooth: cubic-bezier(0.1, 0.7, 0.6, 0.9);
   --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
   --ease-snappy-01: cubic-bezier(0.5, 0, 0.4, 0.98);
   --ease-snappy-02: cubic-bezier(.17, .67, .83, .67);

   --radius-000: 1px;
   --radius-100: 2px;
   --radius-200: 3px;
   --radius-300: 5px;
   --radius-400: 8px;
   --radius-500: 13px;
   --radius-600: 21px;
   --radius-700: 34px;
   --radius-800: 55px;
   --radius-900: 50%;

   --breakpoint-xxs: 20rem;   /*320px */
   --breakpoint-xs: 30rem;   /*480px */
   --breakpoint-sm: 40rem;   /*640px */
   --breakpoint-md: 48rem;   /*768px */
   --breakpoint-lg: 64rem;   /*1024px;*/
   --breakpoint-xl: 80rem;   /*1280px;*/
   --breakpoint-2xl: 96rem;  /*1536px;*/
   --breakpoint-3xl: 120rem; /*1920px;*/

   --box-shadow-custom-card: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);

   --max-width-course-card: 424px;

   --spacing-section-height: 500px;

   --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));


}

@layer base {
   html {
      scroll-behavior: smooth;
   }
}

*,
*::after,
*::before {
   /*margin: 0;
   padding: 0;*/
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;

}

:root {
   --font-primary: 'Lato', sans-serif;

}


/*=============================================
      scrollbar styles
================================================*/
/* width */
::-webkit-scrollbar {
   display: none;
}

.add-cursor {
   cursor: pointer !important;
}

.rich-text {
   font-size: 15px;
   color: #7A7B7D;
}

.rich-text p {
   margin-bottom: 16px;
}

.rich-text h1 {
   font-size: 36px;
   font-weight: 800;
   color: #252525;
   margin: 32px 0;
}

.rich-text h2 {
   font-size: 22px;
   font-weight: 700;
   color: #252525;
   margin: 24px 0;
}

.rich-text h3 {
   font-size: 18px;
   font-weight: 600;
   color: #333333;
   margin: 20px 0;
}

.rich-text h4 {
   font-size: 16px;
   font-weight: 500;
   color: #444444;
   margin: 16px 0;
}

.rich-text h5 {
   font-size: 14px;
   font-weight: 400;
   color: #555555;
   margin: 12px 0;
}

.rich-text h6 {
   font-size: 12px;
   font-weight: 400;
   color: #666666;
   margin: 8px 0;
}

.rich-text strong {
   font-weight: 700;
}

.rich-text ol {
   margin-left: 30px;
   list-style-type: decimal;
}

.rich-text ul {
   margin-left: 30px;
   list-style-type: disc;
}

.rich-text li {
   margin-bottom: 8px;
}


.font-default-15 {
   font-size: var(--font-size-default-15);
}

.font-default-21 {
   font-size: var(--font-size-default-21);
}

.font-course-details-heading-smail-26 {
   font-size: var(--font-size-course-details-heading-smail-26);
}

.font-course-details-heading-smail-36 {
   font-size: var(--font-size-course-details-heading-smail-36);
}

.font-course-details-heading-large-36 {
   font-size: var(--font-size-course-details-heading-large-36);
}

.font-course-details-heading-large-44 {
   font-size: var(--font-size-course-details-heading-large-44);
}

.font-course-details-heading-large-44 {
   font-size: var(--font-size-course-details-heading-large-44);
}

.font-course-details-heading-large-44 {
   font-size: var(--font-size-course-details-heading-large-44);
}

.font-course-details-heading-large-44 {
   font-size: var(--font-size-course-details-heading-large-44);
}

.font-home-heading-small-28 {
   font-size: var(--font-size-home-heading-small-28);
}

.font-home-heading-small-34 {
   font-size: var(--font-size-home-heading-small-34);
}

.font-home-heading-large-48 {
   font-size: var(--font-size-home-heading-large-48);
}

.font-home-heading-large-56 {
   font-size: var(--font-size-home-heading-large-56);
}

.footer-logo {
   width: 33.333%;
   height: auto;
}

.footer-logo--educator {
   width: 33.3333%;
   height: auto;
}

.box-shadow-custom-card {
   box-shadow: var(--box-shadow-custom-card);
}

.max-width-course-card {
   max-width: var(--max-width-course-card);
}

.spacing-section-height {
   height: var(--spacing-section-height);
}

.grid-cols-auto {
   grid-template-columns: var(--grid-template-columns-auto);
}