@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans+Mono&display=swap');*/
@import 'tailwindcss';



@theme {
   --font-body: 'Outfit', sans-serif;
}

@layer base {
   html {
      scroll-behavior: smooth;
   }
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Outfit', sans-serif;

}

:root {
   --font-primary: 'Outfit', sans-serif;
}


/*=============================================
      scrollbar styles
================================================*/
/* width */
::-webkit-scrollbar {
   display: none;
}