@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans+Mono&display=swap');*/
@import 'tailwindcss';



@theme {
   --font-body: 'Outfit', sans-serif;
   --font-size-default-15: 15px;
   --font-size-default-21: 21px;
   --font-size-course-details-heading-smail-26: 26px;
   --font-size-course-details-heading-smail-36: 36px;
   --font-size-course-details-heading-large-36: 36px;
   --font-size-course-details-heading-large-44: 44px;
   --font-size-home-heading-small-28: 28px;
   --font-size-home-heading-small-34: 34px;
   --font-size-home-heading-large-48: 48px;
   --font-size-home-heading-large-56: 56px;


   --box-shadow-custom-card: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);

   --max-width-course-card: 424px;

   --spacing-section-height: 500px;

   --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));


}

@layer base {
   html {
      scroll-behavior: smooth;
   }
}

*,
*::after,
*::before {
   /*margin: 0;
   padding: 0;*/
   box-sizing: border-box;
   font-family: 'Outfit', sans-serif;

}

:root {
   --font-primary: 'Outfit', sans-serif;

}



/*=============================================
      scrollbar styles
================================================*/
/* width */
::-webkit-scrollbar {
   display: none;
}

.add-cursor {
   cursor: pointer !important;
}
.rich-text { font-size: 15px; color: #7A7B7D; }

.rich-text p { margin-bottom: 16px; }

.rich-text h1 { font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }


.font-default-15 {
   font-size: var(--font-size-default-15);
}
.font-default-21 {
   font-size: var(--font-size-default-21);
}
.font-course-details-heading-smail-26 {
   font-size: var(--font-size-course-details-heading-smail-26);
}
.font-course-details-heading-smail-36 {
   font-size: var(--font-size-course-details-heading-smail-36);
}
.font-course-details-heading-large-36 {
   font-size: var(--font-size-course-details-heading-large-36);
}
.font-course-details-heading-large-44 {
   font-size: var(--font-size-course-details-heading-large-44);
}
.font-course-details-heading-large-44 {
   font-size: var(--font-size-course-details-heading-large-44);
}
.font-course-details-heading-large-44 {
   font-size: var(--font-size-course-details-heading-large-44);
}
.font-course-details-heading-large-44 {
   font-size: var(--font-size-course-details-heading-large-44);
}
.font-home-heading-small-28 {
   font-size: var(--font-size-home-heading-small-28);
}
.font-home-heading-small-34 {
   font-size: var(--font-size-home-heading-small-34);
}
.font-home-heading-large-48 {
   font-size: var(--font-size-home-heading-large-48);
}
.font-home-heading-large-56 {
   font-size: var(--font-size-home-heading-large-56);
}

.box-shadow-custom-card {
   box-shadow: var(--box-shadow-custom-card);
}

.max-width-course-card {
   max-width: var(--max-width-course-card);
}

.spacing-section-height {
   height: var(--spacing-section-height);
}

.grid-template-columns-auto {
   grid-template-columns: var(--grid-template-columns-auto);
}